{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- section -->
<div class="innerpage_banner">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>My Education</h2>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

<div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full center">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color">Academic </span>Background</h2>
                        <p class="large">in Computer Engineering</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section -->
<div class="section layout_padding theme_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                <div class="full">
                    <img class="img-responsive" src="{% static 'images/resume_img.png' %}" alt="#" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 white_fonts">
                <h3 class="small_heading">Bachelor's degree in Computer Engineering</h3>
                <p>GPA : 18.67</p>
                <p>I hold a Bachelor's degree in Computer Engineering, which I completed in 2021 from Shomal University.
                    My academic performance was commendable, as I graduated with an impressive GPA of 18.67. Throughout
                    my studies, I developed a strong foundation in various areas of computer science and engineering. I
                    am passionate about technology and eager to apply my knowledge in real-world applications. My
                    education has equipped me with the skills necessary to excel in the field of computer engineering.
                </p>
                <a href="{% url 'cv'%}" class="hvr-radial-out button-theme">Skills</a>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
<!-- section -->
<div class="section layout_padding">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-6">
                <div class="center">
                    <img class="responsive-img" src="{% static 'images/multilingual.png' %}" alt="#" />
                </div>
                <div class="center">
                    <h4>Language Proficiency</h4>
                </div>
            </div>

            <div class="col-lg-10 offset-lg-1 margin-top_30">
                <div class="full text_align_center">
                    <p>I am proficient in English at a B2 level and achieved a score of 6.0 in the IELTS exam in 2024.
                        Additionally, I received admission to the University of Messina in Italy for a Data Science
                        program, where I participated in online classes for one semester. During this time, I also
                        learned Italian and reached an A2 level of proficiency. This experience not only enhanced my
                        language skills but also deepened my understanding of data science concepts. I am excited to
                        continue my studies and improve my language abilities further.</p>
                </div>
            </div>

        </div>
    </div>
</div>
<style>.responsive-img {width: 35% !important;
    height: auto !important;}</style>
<!-- end section -->
{% endblock %}