{% extends 'base.html' %}

{% load static %}
{% block content %}

<!-- Start Banner -->
<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider" id="js-main-slider">
                <!-- <div class="pogoSlider-slide" style="background-image:url(images/slider-01.jpg);"> -->
                <div class="pogoSlider-slide">
                    <img class="img-slider" src="{% static 'images/slider-03.jpg' %}" alt="#" />
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="slide_text">
                                <h3><span class="theme_color">LANG</span>UAGES</h3>
                                <br>
                                <h4>Python<br>PHP</h4>
                                <br>
                                <p>I have learned, PHP and Python, for back-end development,
                                    <br>with a focus on Python.
                                </p>
                                <a class="contact_bt" href="{% url 'cv'%}">Skills</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="pogoSlider-slide" style="background-image:url(images/slider-01.jpg);"> -->
            <div class="pogoSlider-slide">
                <img class="img-slider" src="{% static 'images/slider-03.jpg' %}" alt="#" />
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="slide_text">
                            <h3><span class="theme_color">LANG</span>UAGES</h3>
                            <br>
                            <h4>Python<br>PHP</h4>
                            <br>
                            <p>I have learned, PHP and Python, for back-end development,
                                <br>with a focus on Python.
                            </p>
                            <a class="contact_bt" href="{% url 'cv'%}">Skills</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .pogoSlider -->
</div>
</div>
</div>
<!-- End Banner -->

<div class="section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full center">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color">WELCOME</span> to MY PROFESSIONAL JOURNEY</h2>
                        <p class="large">Explore My Skills and Achievements</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- section -->
<div class="section layout_padding theme_bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                <div class="full">
                    <img class="img-responsive" src="{% static 'images/resume_img.png' %}" alt="#" />
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 white_fonts">
                <h3 class="small_heading">MY EDUCATION</h3>
                <p>I hold a Bachelor's degree in Computer Engineering from Shomal University, graduating in 2021 with a
                    GPA of 18.67. My education provided me with a strong foundation in computer science and engineering,
                    and I am eager to apply my skills in real-world applications.</p>
                <a href="{% url 'about'%}" class="hvr-radial-out button-theme">Education</a>
            </div>
        </div>
    </div>
</div>
<!-- end section -->

<!-- section -->
<div class="section layout_padding">
    <div class="container">

        <div class="row">
            <div class="col-md-12">
                <div class="full center margin-bottom_30">
                    <div class="heading_main text_align_center">
                        <h2><span class="theme_color">MY </span>SKILLS</h2>
                        <p class="large">Resume</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12">
                <p>I have completed five courses on Maktabkhooneh, including Python and Machine Learning, and I'm
                    currently enrolled in four more, such as Django and Docker. These courses have equipped me with
                    valuable programming skills and a solid foundation in software development.</p>
            </div>

            <div class="col-lg-12">
                <div class="full center">
                    <a href="{% url 'cv'%}" class="hvr-radial-out button-theme">My Skills</a>
                </div>
            </div>

        </div>

    </div>
</div>
<!-- end section -->

<!-- section -->
<div class="section layout_padding theme_bg">
    <div class="container">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-12 white_fonts">
                <h3 class="small_heading">Collaboration Opportunities </h3>
                <p>I keep most of the projects I've completed in public repositories on my GitHub account, allowing
                    anyone to view them. If you're interested in collaborating with me, feel free to reach out using my
                    contact information. You can also access my projects directly through my GitHub link. I’m always
                    open to new ideas and partnerships, so don’t hesitate to connect! Looking forward to potential
                    collaborations.</p>
                <p><a href="{% url 'contact'%}" class="hvr-radial-out button-theme">Contact us</a></p>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-12 text_align_center">
                <div class="full">
                    <img class="img-responsive" src="{% static 'images/resume_img2.png' %}" alt="#" />
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->


{% endblock %}